<div class="section">
  <p class="sub-header">Central Contacts</p>
  <div *ngIf="contactList?.contactInfos?.centralNumbers">
    <contact-card
      *ngFor="let contact of contactList?.contactInfos?.centralNumbers"
      [contact]="contact"
    ></contact-card>
  </div>
  <mat-divider></mat-divider>

  <p class="sub-header">Major Helplines</p>
  <div *ngIf="contactList?.contactInfos?.majorHelplines">
    <contact-card
      *ngFor="let contact of contactList?.contactInfos?.majorHelplines"
      [contact]="contact"
    ></contact-card>
  </div>
  <mat-divider></mat-divider>

  <p class="sub-header">User Provided Numbers</p>
  <div *ngIf="contactList?.contactInfos?.userProvidedNumbers">
    <contact-card
      *ngFor="let contact of contactList?.contactInfos?.userProvidedNumbers"
      [contact]="contact"
    ></contact-card>
  </div>

  <div *ngIf="!contactList?.contactInfos && isLocationSet">
    <p>
      We don't have data for your city at this moment. Register a request for us
      to add your city.
    </p>
    <div class="actionBtn">
      <button mat-flat-button color="primary" (click)="requestNewCity()">City Request</button>
    </div>
  </div>
  <div *ngIf="!contactList?.contactInfos && !isLocationSet">
    <p>You have not set any location. Please "Set Location" to see Emergency Contacts.</p>
  </div>

  <div *ngIf="isLoading" class="spinner-bg">
    <mat-spinner class="spinner"></mat-spinner>
  </div>
</div>
