.section {
    margin-top: 6rem;
    padding-bottom: 2rem;
}

.actionBtn {
    display: flex;
    justify-content: center;
}

.spinner-bg {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5000;
}

.spinner {
    margin:0 auto;
    top: 50%;
}

.sub-header {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 1em;
    font-size: small;
    font-weight: 600;
    color: dimgray;
    font-size: 1em;
  }