.card {
  margin: 1rem;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.callBtn {
  color: #2962FF;
  font-size: 40px;
  margin-right: 0.5rem;
}

.reportBtn {
  color:#DD2C00;
  font-size: 40px;
  margin-left: 0.5rem;
}