<mat-card class="card" *ngIf="contact">
  <mat-card-content class="content">
    <div>
      <h2 [innerHtml]="contactNameWithNumber"></h2>
      <p [innerHtml]="contact.description"></p>
    </div>
    <div>
      <button mat-icon-button (click)="call(contact)">
        <!-- <a href="tel:{{ contact.number }}"><mat-icon>call</mat-icon></a> -->
        <mat-icon>call</mat-icon>
      </button>
      <button mat-icon-button (click)="report(contact)">
        <mat-icon>report</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
