<mat-card class="card" *ngIf="contact">
  <mat-card-content class="content">
    <div>
      <h2 [innerHtml]="contactNameWithNumber"></h2>
      <p [innerHtml]="contact.description"></p>
    </div>
    <div>
      <button class="callBtn" mat-icon-button (click)="call(contact)">
        <mat-icon [inline]="true">call</mat-icon>
      </button>
      <button class="reportBtn" mat-icon-button (click)="report(contact)">
        <mat-icon [inline]="true">report</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
